* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hoja {
    max-width: 700px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    background-color: white;
}
.izquierda {
    width: 30%;
    background-color: rgb(42 90 239 / 94%);
}
.derecha{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.izquierda-foto {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.foto-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: top;
}
.izquierda-contacto {
    display: flex;
    flex-direction: column;
}
.izquierda-contacto-titulo{
    background-color: rgb(95, 131, 252);
    padding: 8px;
    width: max-content;
    border-radius: 15px;
    margin: auto;
}
.izquierda-educacion{
    padding: 15px 10px 5px 25px;
}

.derecha-nombre-escrito {
    display: flex;
    color: black;
}

.derecha-nombre {
    width: 100%;
    flex-grow: 1;
    background-color: beige;
    /*background-image: url(./edificios.jpg);*/
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}
.derecha-p-p-titulo{
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
}
.derecha-p-p-texto{
    text-align: justify;
    padding: 10px 15px 10px 10px;
}
.derecha-experiencia {
    padding: 10px;
}
.derecha-experiencia-listas {
    padding: 10px 10px 10px 20px;
}
.derecha-habilidades, .redes, .texto, .derecha-perfil {
    padding: 10px;
}
.derecha-p-p-titulo, .derecha-experiencia-titulo, .derecha-habilidades-titulo, .izquierda-educacion-titulo {
    background-color: rgb(95, 131, 252);
    padding: 8px;
    width: max-content;
    border-radius: 15px;
}
.material-symbols-outlined{
    background-color: white;
    padding-left: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: max-content;
}
.educacion, .izquierda-educacion{
    padding-top: 15px;
}